body {
    background-size: cover;
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

video {
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
}

.heading {
    width: 100%;
    font-size: 23px;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
}

.note {
    font-size: 15px;
}

.copyright_footer {
    bottom: 0px;
    width: 100%;
    line-height: 3;
    color: white;
    background-color: gray;
    position: fixed;
}